<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Story | Super Sprinter 3000</title>
    <script></script>
    <link rel="stylesheet", href="stylesheets/main.css">
</head>
<body>

    <div class="container">
        <!-- //- <h1>Add User Story</h1> -->
        <form method="POST">
            <fieldset>
                <legend><h1>Add User Story</h1></legend>
                
                <label for="title">Story Title:</label><br>
                <input type="text" name="title" minlength="5" required><br>

                <label for="story" name="story">User Story:</label><br>
                <textarea name="story" id="" cols="30" rows="10" required></textarea><br>
                
                <label for="criteria" name="criteria">Acceptance Criteria:</label><br>
                <textarea name="criteria" id="" cols="30" rows="10" required></textarea><br>

                <label for="value">Business value:</label><br>
                <input type="number" name="value" min="100" max="1500" step="100" value="500"><br>

                <label for="estimation">Estimation:</label><br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5" value="2"><br>

                <button type="submit" id="add-new-user-story">Add new User Story</button>
            </fieldset>
        </form>
    </div>
    
</body>
</html>